.createMessage{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.createMessage h2{
    font-size: 2rem;
    color: var(--text_color);
}