.dashboard {
  padding: 20px;
  /* background-color: rgb(30, 17, 17); */
  /* background-color: rgb(144, 8, 144); */
  background-color: rgb(247, 242, 242);
  min-height: 90vh;
}

/* .dashboard.dim {
  position: fixed;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.dashboard.dim .content {
  opacity: 0.4;
}

.dashboard.dim .shareComponent {
  position: absolute;
  top: 30%;
  left: 30%;
} */

.dashboard__header {
  text-align: center;
  color: var(--bg_main);
  font-size: 1.5rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.loading p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bg_main);
  font-style: italic;
}

.content {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  /* border: 1px solid var(--bg_main); */
  border-radius: 6px;
  box-shadow: 2px 2px 3px 4px rgb(221, 212, 212);
}

.content p {
  font-size: 1rem;
  font-style: italic;
}

.content__header {
  color: var(--bg_main);
  font-weight: bold;
  margin-bottom: 10px;
}

.content__text {
  /* font-style: italic; */
  margin-bottom: 10px;
}

.content__button {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.content__button button {
  width: 40%;
  margin: 0 auto;
  padding: 10px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--bg_main);
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .content {
    width: 80%;
  }

  .content__button button {
    width: 50%;
    padding: 8px 10px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    width: 90%;
  }

  .content__button button {
    width: 90%;
  }
}
