.footer{
    padding: 20px;
    margin-top: 5%;
    background-color: rgb(30, 17, 17);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name, .text{
    color: #fff;
}

.name h4{
    font-size: 1.5rem;

}

.text p{
    font-size: 1.2rem;
}