* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --bg_main: rgb(33, 24, 24);
  --color_main: #ffffff;
  --text_color: rgb(15, 44, 203);
  --grey_color: rgb(153, 140, 140);
  /* color:  rgb(144, 8, 144); */
}

a {
  color: inherit;
  text-decoration: none;
}

/* Default Dark mode css */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
