.nav {
  background-color: var(--bg_main);
  padding: 20px;
  color: var(--color_main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.nav h2 {
  flex-basis: 60%;
  cursor: pointer;
  font-size: 1.4rem;
}

.nav__container {
  flex-basis: 20%;
}
.hamburger {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu p {
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* .mobile__nav {
  } */
  .nav__container {
    flex-basis: 10%;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger svg {
    font-size: 2.5rem;
  }

  .menu {
    display: none;
    transition: display 2s ease-out;
  }

  .mobile__nav .menu {
    display: block;
    position: absolute;
    left: 0%;
    top: 0;
    background-color: var(--bg_main);
    height: 100vh;
    width: 30vw;
    text-align: center;
  }

  .mobile__nav .menu p:first-child {
    margin-top: 50%;
  }
  .mobile__nav .menu p {
    margin-top: 10%;
  }
}

@media screen and (max-width: 425px) {
  .mobile__nav .menu {
    width: 70%;
  }
}
