.whyus{
    padding: 20px;
    margin-top: 10%;
}

.whyus h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5%;
}

.whyus__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: 90%;
    margin: 0 auto;
    margin-left: 10%; */
}


.whyus__content{
    /* flex-basis: 1; */
    padding: 20px;
    width: 20%;
    height: 400px;
    box-shadow: 2px 2px 8px 1px rgb(213, 201, 201);
    border-radius: 4px
}

.whyus__icon{
    font-size: 3rem;
    color: var(--text_color);
    padding: 20px;
}

.whyus__header{
    font-size: 1.6rem;
    padding: 5px;
    /* font-weight: light; */
    /* color: #222; */
    color: var(--text_color);
    margin-bottom: 10px;
}

.whyus__text{
    font-size: .9rem;
    padding: 5px;
    width: 70%;
    font-weight: light;
    /* color: rgb(48, 44, 44); */
    letter-spacing: 1px;

}


@media screen and (max-width: 1024px){
    .whyus{
        margin-top: 7%;
    }

    .whyus h2{
        font-size: 1.7rem;
    }

   

    .whyus__content{
        width: 25%;
        height: 370px;
    }

    .whyus__icon{
        font-size: 2.3rem;
    }

    .whyus__header{
        font-size: 1.2rem;
    }

    .whyus__text{
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px) {
    .whyus h2{
        font-size: 1.5rem;
    }

    .whyus__container{
        flex-wrap: wrap;
    }

    .whyus__content{
        width: 35%;
        height: 350px;
        margin-top: 5%;
    }

    .whyus__icon{
        font-size: 2rem;
        padding: 15px;
    }

    .whyus__text{
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .whyus h2{
        font-size: 1.3rem;
    }


    .whyus__content{
        width: 75%;
        height: 320px;
        margin-top: 7%;
    }

    .whyus__icon{
        font-size: 2rem;
        padding: 15px;
    }

    .whyus__text{
        width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .whyus h2{
        font-size: 1.3rem;
    }


    .whyus__content{
        width: 85%;
        height: 330px;
        margin-top: 10%;
    }

    .whyus__icon{
        font-size: 1.8rem;
    }

}